<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">Blog</div>
            <div id="navbar-menu">
                <ul class="navbar-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/explore">Explore</a></li>
                    <li><a href="/new-post">Create</a></li>
                </ul>
            </div>
            <div class="navbar-signin">
                <% if (user) { %>  
                    <a href="/logout" class="btn btn-danger">Logout</a>
                <% } else { %>
                    <a href="/signup" class="btn btn-primary">Login/Register</a>
                <% } %>
            </div>
        </nav>
    </header>
</body>
</html>
