<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/styles.css">
    <link rel = "stylesheet" href="/css/explore.css">
    <title> Explore </title>
</head>
<body>
<div class = "explore-header"> 
    <img src ="/beach.jpg" alt="Beach Image" class="explore-image">
    <div class = "header-text">
        <h1> Welcome to Blog Space </h1>
        <p>Explore thousands of blog posts and start writing your own</p>
        <div class="search-bar">
            <input type="text" placeholder="Search blogposts">
            <button>Search</button>
        </div>
    </div>
</div>

<div class="latest-posts">
    <h2>Latest posts</h2>
    <ul>
        <li>
            <img src="/img3.jpg" alt="Post Image">
            <div>
                <h3>The State of AI in 2020</h3>
                <p>2 min read</p>
            </div>
        </li>
        <li>
            <img src="/img4.jpg" alt="Post Image">
            <div>
                <h3>The Future of Retail</h3>
                <p>5 min read</p>
            </div>
        </li>
        <li>
            <img src="/img5.jpg" alt="Post Image">
            <div>
                <h3>Designing for Accessibility</h3>
                <p>3 min read</p>
            </div>
        </li>
        <li>
            <img src="/img6.jpg" alt="Post Image">
            <div>
                <h3>The Evolution of Social Media</h3>
                <p>4 min read</p>
            </div>
        </li>
        <li>
            <img src="/img7.jpg" alt="Post Image">
            <div>
                <h3>Sustainable Transportation Solutions</h3>
                <p>6 min read</p>
            </div>
        </li>
    </ul>
    <button href = "/new-post" class="create-post-btn">Create new blog post</button>
</div>
</body>
</html>
</div>
</body>
</html>