<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signin.css">
    <title>Login</title>
</head>
<body>
    <form action = "/signin-user" method = "POST">
<div class="signin-container">
    <div class="signin-text">
        <h1>Login</h1>
        <div class="signin-bar">
            <input type="text" placeholder="Username" name = "username">
            <input type="password" placeholder="Password" name = "password">
            <button type="submit">Login</button>
        </form>
        </div>
    </div>
</div>
</body>
</html>
